.Header{
  height: 5rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.logo {
  display: flex;
}

.logo img {
  width: 4em
}

.logo span {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  margin-left: 10px;
}