* {
  box-sizing: border-box;
}

.App{
  display: grid;
  grid-template-rows: 0.3fr 10fr;
}


.Header{
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
}

.logoimg{
  width: 5rem;
  height: 5rem;
}

.logo {
  display: flex;
}

.logo img {
  width: 4em
}

.logo span {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  margin-left: 10px;
}

