* {
  box-sizing: border-box;
}

.App{
  display: grid;
  grid-template-rows: 0.3fr 10fr;
}


.Header{
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
}


.logo a {
  display: flex;
  align-items: center;

  /* a tag 속성 제거 */
  text-decoration:none;
  color:black;
}

.logo img {
  width: 2.5em
}

.logo span {
  font-family: 'Playfair Display', serif;
  font-size: 1.4em;
  margin-left: 10px;
}

