.signUpContainer{
    background-color: #2a4066;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2.5fr 4fr 2.5fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: 
    ". . ."
    ". mid ."
    ". . ."
    ;
}

.signUpDiv{
    padding: 3rem;
    background-color: white;
    border: solid black 3px;
    grid-area: mid;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.signUpDiv > div {
    /* border: solid black 1px; */
    border-radius: 0.3rem;
}

.signUpDiv > .inputDiv{
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.validError{
    border: 0.5px solid rgba(180, 14, 14, 0.897);
    background-color: rgba(221, 58, 58, 0.719);
}

.inactiveErrorMessage{
    display: none;
}

.activeErrorMessage{
    display: block;
}

input {
    display: block;
    
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 5px;
    box-sizing: border-box;
  }

  .submitButton {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 5px;
    background: #3fb996;
    border: hidden;
    color: white;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .duplicateEmailCheckDiv{
      border: 1px solid black;
  }

  .item{
      font-size:1.5rem;
      font-weight: 500;
  }